#patient-list {
  background-color: #ffffff;
  padding: 30px 0px 30px 40px;
  border-radius: 20px;
}

#patient-list #patient-list-second-section #patient-list-patient-section span {
  font-size: 14px;
  font-weight: 400;
  color: #595959;
}
#patient-list #patient-list-second-section #patient-list-headline-section span {
  font-size: 14px;
  font-weight: 500;
  color: #242222;
  text-transform: capitalize;
}

#patient-list
  #patient-list-second-section
  #patient-list-patient-section
  span.patient-gender,
#patient-list
  #patient-list-second-section
  #patient-list-patient-section
  span.patient-name {
  text-transform: capitalize;
}

#patient-list-first-section-search-section .search-input {
  background-image: url("/static/icons/search_icon.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 35px;
}
