#patient-list {
  background-color: #ffffff;
  padding: 0px 0px 20px 40px;
  border-radius: 20px;
  margin-top: -20px;
}

#patient-list #patient-list-second-section #patient-list-patient-section span {
  font-size: 14px;
  font-weight: 400;
  color: #595959;
}
#patient-list #patient-list-second-section #patient-list-headline-section span {
  font-size: 14px;
  font-weight: 500;
  color: #242222;
  text-transform: capitalize;
}

#patient-list
  #patient-list-second-section
  #patient-list-patient-section
  span.patient-gender,
#patient-list
  #patient-list-second-section
  #patient-list-patient-section
  span.patient-name {
  text-transform: capitalize;
}

/* #patient-list-first-section-search-section .search-input {

} */

#patient-list-first-section-headline-section .headline {
  font-weight: 500;
  font-size: 18px;
  color: #242222;
  /* border-bottom: var(--primary-color) 2px solid;
  padding-bottom: 5px; */
}

/* #patient-list-first-section-headline-section {
  padding: 0px 20px 10px 0px;
} */

#patient-list-first-section-search-section .total_patient {
  font-weight: 500;
  font-size: 16px;
  color: #242222;
}
