{% extends "base.html" %}
{%  load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'pages/patient.css' %}">
{% endblock style %}

{% block content %}
    <div id="patient">
        <div class="headline-container">
            Patient Details
        </div>
        <div class="patient-list-container">
            {% include 'components/patient_list.html' %}
        </div>
    </div>

{% endblock content%}

{% block scripts %}
    <script src="{% static 'pages/patient.js' %}"></script>
{% endblock scripts %}