{% extends "base.html" %}
{%  load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'pages/patient.css' %}">
{% endblock style %}

{% block content %}
    <div id="patient">
        <div class="page-headline-container d-flex justify-content-between">
            <div class="page-title-container">
                <h2 class="page-title">Patient Details</h2>
            </div>
            <div class="user-notification-container d-flex">
                <div class="icon-container">
                    <i class="fa-solid fa-bell fa-lg"></i>
                </div>
                <div class="username-container">
                    <div class="avatar-container">
                        {% if user.is_authenticated %}
                            <img width="30" height="30" src="{{user.account.avatar.url}}" alt="avatar">
                        {% endif %}
                    </div>
                    <div class="user-detail-container">
                        {% if user.is_authenticated %}
                            {% if user.account.first_name and user.account.last_name %}
                                {{ user.account.get_full_name}}
                            {% else %}
                                {{user.username}}
                            {% endif %}
                            {% if user.is_superuser %}
                                <p>admin</p>
                            {% endif%}
                        {% else %}
                            <p>Login first!</p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
        <div class="patient-list-container">
            {% include 'components/patient_list.html' %}
        </div>
    </div>

{% endblock content%}

{% block scripts %}
    <script src="{% static 'pages/patient.js' %}"></script>
{% endblock scripts %}