{% load static %}

<link rel="stylesheet" href="{% static 'components/patient_list.css' %}">
<div class="shadow-sm" id="patient-list">
    <div id="patient-list-first-section">

        <div class="d-flex justify-content-between align-items-baseline py-2 pe-3 border-bottom" id="patient-list-first-section-headline-section">
            <h2 class="headline">Patient Info</h2>
            <button class="custom-primary-btn">
                <i style="color:#ffffff" class="fa-solid fa-plus me-1"></i>
                Add Patient
            </button>
        </div>

        <div class="d-flex justify-content-between align-items-center py-3 pe-3" id="patient-list-first-section-search-section">
              <div class="total_patient">
                <i class="fa-solid fa-user me-2"></i>
                 Patients: <span id = "patient-list-total-patients"></span>
            </div>
            <input class="search-input primary-search-box" type="search" placeholder="Search">
           
        </div>

    </div>
    <div id="patient-list-second-section">
        <div class="border-bottom py-3" id="patient-list-headline-section">
            <div class="row">
                <div class="col-lg-2">
                    <span class="me-2">Patient Name</span>
                    <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.2" d="M-0.00012207 6.62085L3.38372 9.60937L6.76879 6.62085H-0.00012207Z" fill="#374957"/>
                        <path d="M6.77026 3.53491L3.38544 0.546389L0.000616074 3.53491L6.77026 3.53491Z" fill="#374858"/>
                    </svg>
                </div>
                <div class="col-lg-3">
                    <span class="me-2">Email ID</span>
                    <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.2" d="M-0.00012207 6.62085L3.38372 9.60937L6.76879 6.62085H-0.00012207Z" fill="#374957"/>
                        <path d="M6.77026 3.53491L3.38544 0.546389L0.000616074 3.53491L6.77026 3.53491Z" fill="#374858"/>
                    </svg>
                </div>
                <div class="col-lg-2">
                    <span class="me-2">Phone</span>
                    <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.2" d="M-0.00012207 6.62085L3.38372 9.60937L6.76879 6.62085H-0.00012207Z" fill="#374957"/>
                        <path d="M6.77026 3.53491L3.38544 0.546389L0.000616074 3.53491L6.77026 3.53491Z" fill="#374858"/>
                    </svg>

                </div>
                <div class="col-lg-1">
                    <span class="me-2">Age</span>
                    <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.2" d="M-0.00012207 6.62085L3.38372 9.60937L6.76879 6.62085H-0.00012207Z" fill="#374957"/>
                        <path d="M6.77026 3.53491L3.38544 0.546389L0.000616074 3.53491L6.77026 3.53491Z" fill="#374858"/>
                    </svg>
                </div>
                <div class="col-lg-2">
                    <span class="me-2">Gender</span>
                    <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.2" d="M-0.00012207 6.62085L3.38372 9.60937L6.76879 6.62085H-0.00012207Z" fill="#374957"/>
                        <path d="M6.77026 3.53491L3.38544 0.546389L0.000616074 3.53491L6.77026 3.53491Z" fill="#374858"/>
                    </svg>
                </div>
                <div class="col-lg-2">
                    <span class="me-2">blood group</span>
                    <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.2" d="M-0.00012207 6.62085L3.38372 9.60937L6.76879 6.62085H-0.00012207Z" fill="#374957"/>
                        <path d="M6.77026 3.53491L3.38544 0.546389L0.000616074 3.53491L6.77026 3.53491Z" fill="#374858"/>
                    </svg>
                </div>

            </div>
        </div>
        <div id="patient-list-patient-section"></div>
    </div>
    <div class="pt-3 text-end me-3" id="pagination-buttons">
        <button class="me-1 custom-primary-btn-outline" id="prev-btn" onclick="loadPreviousPage()">
            prev
        </button>
        <button id="next-btn" class="custom-primary-btn" onclick="loadNextPage()">
            next
        </button>
    </div>
</div>
</div>
<script src="{% static 'components/patient_list.js' %}"></script>